<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addUser</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>
    <form action="/users/create" method="post">
        <label>
            Your name (Twoje imie)
            <input type="text" name="name"/>
        </label>
        <input type="submit"/>
    </form>
    <br>
    <br>
    <br>
    <li><a href="/home"> HOME (Strona startowa) </a></li>

</div>
</body>
</html>