<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exception</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>
    <label>
        An exception occurred: (Wystapil blad)
        <input type="text" name="message" value="{{message}}"/>
    </label>
    <br>
    <li><a class="home" href="/home"> HOME (Strona startowa) </a></li>
</div>
</body>
</html>