<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flashcards-end</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>
    <li><a>Congratulations! You know all the words in this category.</a></li>

    <br>
    <br>
    <li><a href="/user/{{userId}}/games"> USER PAGE (Strona uzytkownika) </a></li>
    <li><a href="/home"> HOME (Strona startowa) </a></li>
</div>
</body>
</html>