<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flashcards-answer</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>
        <h3> {{message}}  </h3>
        <br>
        <li><a href="/{{userId}}/flashcards"> NEXT </a></li>
    <br>
    <br>
    <br>
    <li><a href="/user/{{userId}}/games"> USER PAGE (Strona uzytkownika) </a></li>
</div>
</body>
</html>