<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div>
        <input type="text" name="userName" value="{{userName}}"/>
            Select category of phrase (wybierz kategorie wyrazen)</div>
        <div><br></div>

        <ul>
        {{#categories}}
        <li><a href="/user/{{userId}}/games/{{gameId}}/{{.}}"> {{.}} </a></li>
         {{/categories}}
        </ul>
        <div><br></div>
        <li><a href="/user/{{userId}}/games"> USER PAGE (Strona uzytkownika) </a></li>
        <div><br></div>
        <li><a href="/home"> HOME (Strona startowa) </a></li>

</body>
</html>