<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>games-categoryPhrase</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>
    <label>
        <input type="text" name="userName" value="{{userName}}"/>
        <p>Select category of phrase (wybierz kategorie wyrazen)</p>
    </label>

    <br>
    <ul>
        {{#categories}}
            <form action="/user/{{userId}}/games/{{gameId}}/{{.}}" method="post">
                <li><input type="submit" value="{{.}}"> </input></li>
            </form>
        {{/categories}}
    </ul>
    <br>
    <li><a class="home" href="/user/{{userId}}/games"> USER PAGE (Strona uzytkownika) </a></li>
    <br>
    <li><a class="home" href="/home"> HOME (Strona startowa) </a></li>
</div>
</body>
</html>