<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>games</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>

    <label>
        <h3>Hello (Czesc)
            <input type="text" name="userName" value="{{userName}}"/></h3>
    </label>

    <br>
    <li><a href="/user/{{userId}}/phrases"> Manage words (Zarzadzaj slowkami) </a></li>
    <br>
    <h3>Select a game. (Wybierz gre.)</h3>
    <ul>
        {{#games}}
            <li><a href="/user/{{userId}}/games/{{id}}"> {{id}} - {{name}} </a></li>
        {{/games}}
    </ul>
    <br>
    <br>
    <li><a href="/home"> HOME (Strona startowa) </a></li>

</div>
</body>
</html>