<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>
    <h1> Hello in Learning English !</h1>
    <h3> (Witaj w "Nauka Angielskiego"!)</h3>
    <br>
    <br>
    <br>
    <li><a href="/users"> USERS (Uzytkownicy) </a></li>
    <br>
</div>
</body>
</html>