<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>phrases</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
<div>
    <li><a href="/user/{{userId}}/phrases/addForm"> Add phrase (Dodaj wyrazenie) </a></li>
    <li><a href="/user/{{userId}}/phrases/deleteForm"> Delete phrase (Usun wyrazenie) </a></li>
    <br>
    <br>
    <li><a href="/user/{{userId}}/games"> USER PAGE (Strona uzytkownika) </a></li>
    <br>
    <li><a href="/home"> HOME (Strona startowa) </a></li>
</div>
</body>
</html>