<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <li><a href="/user/{{userId}}/phrases/addForm"> Add phrase (Dodaj wyrazenie) </a></li>
    <li><a href="/user/{{userId}}/phrases/deleteForm"> Delete phrase (Usun wyrazenie) </a></li>
    <div><br></div>
    <div><br></div>
    <li><a href="/user/{{userId}}/games"> USER PAGE (Strona uzytkownika) </a></li>
    <div><br></div>
    <li><a href="/home"> HOME (Strona startowa) </a></li>
</body>
</html>